/* CSS for Dashboard page */

.mainImage{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 500px;
  margin: 100px;
}

.mainHeading{
  text-align: center;
  font-size: 30px;
}

.dashboardBtn{
  display: flex;
  border-radius: 5%;
  margin: 50px;
  justify-content: space-around;
}


/* CSS for books page */

a{
  color: black;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
}
.logoutBtn{
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.toggleBtn ul{
  width: 100%;
  display: flex;
  border: 1px solid;
  padding: 10px;
  justify-content: space-around;

}

.welcomeTxt{
  text-align: center;
  padding: 20px;
  font-size:25px;
}

.bookList{
  display: flex;
  border: 1px solid ;
  padding: 20px;
  margin: 20px 0;
}

.bookInfo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bookInfo h2{
  font-size: 20px;
  color: blue;
}

.bookYear{
  display: flex;
}
.bookYear h4{
  margin-right: 10px;
}


.btnSelector{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform:translate(110%, 0)
}

.btnSelector span{
  border: 1px solid;
  padding: 5px 12px;
  border-radius: 50%;
  background: white;
}

.btnSelector span:first-child,
.btnSelector span:last-child{
  visibility: hidden;
}